.fa-arrow-circle-down, .fa-arrow-circle-up, .fa-clipboard{
    cursor: pointer;
}

.remove-blue{
    color: unset!important;
}

.disabled-icon{
    cursor: unset;
    opacity: 0.5;
}

.twitter-share-button{
    margin-left: 10px;
    margin-bottom: -5px;
}

body, html {
    background-color: #eff0f2;
}

#postQuote{
    color: white;
    margin-top: 2px;
}

#score-post{
    color: white;
}

.fa-fire{
    color: white;
}